
@model IEnumerable<BuyAndCount.Models.Expense>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Список покупок</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Expense" asp-action="Create" class="btn btn-primary">Добавить новую покупку</a>
        </div>
    </div>
    <br />
</div>
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Покупка
                    </th>
                    <th>
                        Цена в рублях
                    </th>
                    <th>
                        Тип покупки
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var exp in Model)
                {
                <tr>
                    <td width="25%">@exp.ExpenseName</td>
                    <td width="25%">@exp.Amount</td>
                    <td width="25%">@exp.ExpenseType.Name</td>
                    <td width="25%">
                        <div class="w-100 btn-group" role="group">
                            <a asp-controller="Expense" asp-action="Update" asp-route-Id="@exp.Id" class="btn btn-primary mx-1">Изменить</a>
                            <a asp-controller="Expense" asp-action="Delete" asp-route-Id="@exp.Id" class="btn btn-danger mx-1">Удалить</a>
                        </div>
                    </td>
                </tr>
                }
             </tbody>
        </table>
     }

else
{
    <p> Еще ничего не купили </p>
}       

